
.jumbotron {
	padding-top: 2rem;
	background-color: #E2CFCF;
}
#Hobiku {
background-color: #E2CFCF;
}

section {
	padding-top: 5rem;
}
form {
	padding-left: 2rem;

}

p{
padding-left: 2 rem
} 